@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Slabo+13px);
@import url(https://fonts.googleapis.com/css?family=Fanwood+Text);

/*
--------------------------------------------
simple reset
--------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

body,
html {
    h: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%; 
    background-color: white;
    font-family: 'Slabo 13px', serif; 

}

h1 {
    color: black;
}

h1,
.titles,
.readMore {
    text-align: center;
}

a {
    color: deeppink;
    font-size: 2em;
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 989px;
    background-color: rgba(0, 0, 0, 0.5);
    /*dim the background*/
}


/*
--------------------------------------------
navigation bar
--------------------------------------------- */

@media (max-width: 1991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        float: left;
        border: none;
        margin-top: 2%;
        margin-left: 2%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
        width: 25px;
    }
    .navbar .navbar-toggle:hover,
    .navbar .navbar-toggle:active,
    .navbar .navbar-toggle:focus {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .navbar-collapse {
        width: 100%;
        height: 991px;
        border-top: 1px solid transparent;
        background-color: rgba(0, 0, 0, 1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar {
    background: rgba(0, 0, 0, 0.0);
    border: none;
    /*margin: 0 !important;*/
}

.nav.navbar-nav li a {
    color: ghostwhite;
    font-size: 3em;
    line-height: 45px;
    text-align: center;
}

.nav.navbar-nav li a:hover {
    color: red;
}


/*
--------------------------------------------
landing page
--------------------------------------------- 
*/

.firstImg {
    height: 1010px;
    margin-top: -20px;
    background-size: cover;
}

.flex-center-vertically {
    /*center text vertically*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 4em;
}

.readMore {
    position: relative;
    top: 150px;
    font-size: 2em;
}

.readMore .btn {
    margin-top: 1%;
    font-size: 2.3em;
    background: none;
    border: none;
}

.readMore .btn:hover {
    color: red;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.readMore .btn:active:hover,
.readMore .btn:active:focus {
    background: none;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(20px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media(max-width: 1200px) {
    .readMore .btn {
        font-size: 1em;
    }
    .resumeBtn {
        display: none;
    }
}

@media(max-width: 667px) {
    .firstImg {
        margin-top: -40%;
    }
}

@media(max-width: 900px) {
    .firstImg {
        height: 800px;
        margin-top: -20%;
    }
}

@media(min-width: 667px) and (max-width: 1224px) {
    .firstImg {
        height: 800px;
    }
}


/*
--------------------------------------------
about page
--------------------------------------------- 
*/

.aboutPage {
    height: 779px;
    margin: 3% 0 0 0;
}

.aboutPage p {
    margin: 3%;
    margin-bottom: 0%;
    font-size: 1.3em;
}

.carousel {
    height: 400px;
    width: 100%;
    margin: 8% 0;
    margin-bottom: 0%;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 400px;
    background-color: #777;
}

@media(max-width: 667px) {
    .carousel .item {
        height: 250px;
    }
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.image2 {
    display: none !important;
}

@media(max-width: 767px) {
    .image2 {
        display: block !important;
    }
}

@media(max-width: 1024px) {
    .aboutPage p {
        font-size: 1em;
    }
}


/*
--------------------------------------------
skillset page
--------------------------------------------
*/

.skillPage {
    padding-bottom: 0;
    width: 100%;
}

@media(max-width: 667px) {
    .skillPage {
        display: none !important;
    }
    .skillPageM {
        display: block !important;
    
    }
}

@media(min-width: 1024px) {
    .skillPage h1 {
        margin-top: 3%;
    }
}

@media(min-width: 1224px) {
    .skillPage h1 {
        margin-top: 37%;
    }
    ul.titles li {
        padding-top: 10%;
        margin-top: 8%;
    }
}

@media(min-width: 1524px) {
    .skillPage h1 {
        margin-top: 37%;
    }
    ul.titles li {
        padding: 0;
        margin-top: 0.1%;
    }
}

.skillPageM {
    height: 500px;
    margin: 1%;
    padding: 0;
    display: none;
    text-align: center;
}

.skillPageM h1,
.skillPageM p {
    margin: 5% 5%;
}


/*
--------------------------------------------
project page
--------------------------------------------- 
*/
.project{
    width: 100%;
}

.project .colorBlock {
    margin-top: 5%;
    width: 100%;
    height: 155px;
    background-color: black;
}

.project .colorBlock h1 {
    color: white;
    font-size: 3.5em !important;
}

.portfolio-item {
    margin: -2px;
    padding: 0;
    border: 2px outset rgba(255, 255, 255, 0.1);
      
}

.portfolio-item img {
    max-width: 100%;
    max-height: 470px;
}

.portfolio-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    line-height: 150%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.portfolio-text:hover {
    opacity: 1;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    margin-bottom: 25px;
}

ul li img {
    cursor: pointer;
}


/*
--------------------------------------------
contact page
--------------------------------------------- 
*/

.workBtn {
    margin-top: 5%;
    font-size: 0.9em;
    background: red;
    border: red;
    color: white;
}

.workBtn:hover {
    color: white;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.workBtn:active:hover,
.workBtn:active:focus {
    background: none;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(20px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

footer {
    text-align: center;
    padding: 80px 0;
    background: rgba(200, 200, 200, 0.1);
}