@import url(https://fonts.googleapis.com/css?family=Muli);

@import url(https://fonts.googleapis.com/css?family=Slabo+13px);

@import url(https://fonts.googleapis.com/css?family=Fanwood+Text);
/*
--------------------------------------------
simple reset
--------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; 
	font: inherit; 
}
body, html {
    h: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(244, 248, 244, 0.4);
    font-family:　'Fanwood Text', serif;
}

h1{
    color:#9DB5B9;
}
h1, 
.titles, 
.readMore{
    text-align: center;
}

.overlay{  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 989px;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}


/*
--------------------------------------------
navigation bar
--------------------------------------------- */
@media (max-width: 1991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        float: left;
        border: none;
        margin-top: 2%;
        margin-left: 2%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color:white;
        width:25px;
    }
    .navbar .navbar-toggle:hover,
    .navbar .navbar-toggle:active,
    .navbar .navbar-toggle:focus {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .navbar-collapse {
        width: 100%;
        height: 991px;
        border-top: 1px solid transparent;
        background-color:  rgba(0, 0, 0, 0.75);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar{
  background: rgba(0,0,0,0.0);
  border:none;
  /*margin: 0 !important;*/
}

.nav.navbar-nav li a {
    color: ghostwhite;
    font-size: 3em;
    line-height: 45px;
    text-align: center;
}

/*
--------------------------------------------
landing page
--------------------------------------------- 
*/

.firstImg{
    margin-top: -20px;
    color:aquamarine;
    background-color: #95bacd;
   background-image: url("../assets/header.jpg");
    background-size: cover;
}

.flex-center-vertically { /*center text vertically*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.titles h1 {
    color: white; 
    font-weight: 700;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.titles h2 {
    font-size: 4em;
    color: white;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
     z-index: 2;
}

.readMore {
    position:relative;
    top:150px;
    font-size: 2em;
}
.readMore .btn{
        margin-top: 1% ;
        font-size: 2.3em;
        background: none; 
        border: none;
        color:lightgray;
}

.readMore .btn:hover {
    color: white;
    border-radius: 50%;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.readMore .btn:active:hover, .readMore .btn:active:focus {
     background: none; 
    -webkit-transform:translateY(-100px); 
    -ms-transform:translateY(-100px); 
    transform:translateY(20px); 
    -webkit-transition: 0.3s; 
    transition: 0.3s;
}
/*
.btn {
  display: inline-block;
  color: #000;
  border: 2px outset rgba(0, 0, 0, 0.9); 
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  letter-spacing: 2px;

  transition: 0.2s;
}*/
/*
.btn:hover {
color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);

  transform:scale(1.3);

  transition: 0.2s;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}
/*
--------------------------------------------
about page
--------------------------------------------- 
*/

.aboutPage{
    padding-top: 5%;
    margin-top: -10px;
}


.aboutPage p{
    color:#393c4f;
    margin: 3%;
    margin-bottom: 0%;
}

.carousel {
  height: 400px;
  width: 100%;
  margin: 5% 0;
    
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height:100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.image2{
   display: none !important;
}

@media(max-width: 767px) {
    .image2{
        display:block !important;
    }
}
@media(min-width: 768px) {
 
}


/*
--------------------------------------------
skillset page
--------------------------------------------
*/
@media(max-width: 767px) {
    .skillPage{
        display:none !important;
    }
    .skillPageM{
        display:block !important;
        padding-top: 21%;
    }
}

@media(max-width: 767px) and (min-width: 1024px) {
 .skillPage h1{
    margin-top: -10%;   
  
 }
}


@media(min-width: 1024px) {
 .skillPage h1{
    margin-top: 37%;    
 }
}

.skillPageM {
    height: 989px;
    margin-top: -60%;
    display: none;
    text-align: center;
}

.skillPageM h1, .skillPageM p {
    margin: 5% 5%;
}





/*
--------------------------------------------
project page
--------------------------------------------- 
*/


.project .colorBlock{
    background-color:#95bacd;
    width: 100%;
    height: 155px;
}
.project .colorBlock h1{  
    color:white;
    font-size:  3.5em !important;
}

.portfolio-item {
  margin: -2px;
  padding: 0;
  border: 2px outset rgba(255, 255, 255, 0.1);
}
.portfolio-item img{
max-width: 100%;
    max-height: 470px;
}

 

.portfolio-text {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    font-size:1.5em;
    line-height:150%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
 
}
.portfolio-text:hover {
    opacity: 1;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    margin-bottom: 25px;
}

ul li img {
    cursor: pointer;
}
 
 
/*
--------------------------------------------
contact page
--------------------------------------------- 
*/

.contact-text{
  color:black
}

.contact-text h2{
  color:black
}

.mail-link{
  -webkit-transition:0.2s;
  transition:0.2s;
}
.mail-link:hover{
 	color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: 1px;
}







footer {
    text-align: center;
    padding: 80px 0;
    background: rgba(200, 200, 200, 0.4);
}


