<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/jquery-ui.min.js"></script> 
<script src="assets/lib/bootstrap/test/bootstrap.min.js"></script>
<script src="assets/lib/angular/ui-bootstrap-tpls.min.js"></script>

<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="assets/img/travel/about.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="uppercase mb8">{{ 'ABOUTUS' | translate }}</h2>
                <p class="lead mb0">{{ 'ABOUTUS2' | translate }}.</p>
            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h5 class="uppercase">{{ 'FULLCUSTOMIZESERVICE' | translate }}</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
            <div class="col-sm-7">
                <h5 class="uppercase">{{ 'PERSONALCONCIERGE' | translate }}</h5>
                <div class="progress-bars">
                    <div class="progress progress-1">
                        <div class="progress-bar" data-progress="20">
                            <span class="title">{{ 'TRIPPLANNING' | translate }}</span>
                        </div>
                    </div>
                    <!--end of progress bar-->
                    <div class="progress progress-1">
                        <div class="progress-bar" data-progress="90">
                            <span class="title">{{ 'CONCIERGEDOALLTHEWORK' | translate }}</span>
                        </div>
                    </div>
                    <!--end of progress bar-->
                    <div class="progress progress-1">
                        <div class="progress-bar" data-progress="10">
                            <span class="title">{{ 'PAY' | translate }}</span>
                        </div>
                    </div>
                    <!--end of progress bar-->
                    <div class="progress progress-1">
                        <div class="progress-bar" data-progress="100">
                            <span class="title">{{ 'ENJOY' | translate }}</span>
                        </div>
                    </div>
                    <!--end of progress bar-->
                </div>
                <!--end of bars holder-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3 class="uppercase mb40 mb-xs-24">{{ 'MEETOURCONCIERGE' | translate }}</h3>
                <p class="lead mb64">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                </p>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="image-tile outer-title text-center">
                    <img alt="Pic" src="assets/img/team-1.jpg" />
                    <div class="title mb16">
                        <h5 class="uppercase mb0">Sally Marsh</h5>
                        <span>{{ 'BLOGGER' | translate }} </span>
                    </div>
                    <p class="mb0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="image-tile outer-title text-center">
                    <img alt="Pic" src="assets/img/team-2.jpg" />
                    <div class="title mb16">
                        <h5 class="uppercase mb0">Tim Foley</h5>
                        <span> {{ 'PILOT' | translate }} </span>
                    </div>
                    <p class="mb0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="image-tile outer-title text-center">
                    <img alt="Pic" src="assets/img/team-3.jpg" />
                    <div class="title mb16">
                        <h5 class="uppercase mb0">Jake Robbins</h5>
                        <span>{{ 'CEO' | translate }}</span>
                    </div>
                    <p class="mb0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="image-bg overlay  ">
    <div class="background-image-holder">
        <img alt="Background" class="background-image" src="assets/img/travel/beach.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="mb16">{{ 'CTA' | translate }}</h2>
                <p class="lead mb64">
                    {{ 'CTA2' | translate }}
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-package icon"></i>
                        <h5 class="uppercase">{{ 'CTA3' | translate }}</h5>
                    </div>
                    <p>
                        {{ 'CTA4' | translate }} 
                    </p>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-infinite icon"></i>
                        <h5 class="uppercase">{{ 'CTA5' | translate }} </h5>
                    </div>
                    <p>
                        {{ 'CTA6' | translate }} r!
                    </p>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-heart icon"></i>
                        <h5 class="uppercase">{{ 'CTA7' | translate }} </h5>
                    </div>
                    <p>
                        {{ 'CTA8' | translate }}  
                    </p>
                </div>
                <!--end of feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h3 class="mb64 uppercase">People &nbsp;
                    <i class="ti-heart"></i>&nbsp; GEMIN</h3>
                <div class="testimonials text-slider slider-arrow-controls">
                    <ul class="slides">
                        <li>
                            <p class="lead">I love the ease-of-use Gemin provides - I can quickly test different combinations and experiment with possibility to find that sweet spot. Amazing concierge support too, really quick turnaround!</p>
                            <div class="quote-author">
                                <img alt="Avatar" src="assets/img/avatar1.png" />
                                <h6 class="uppercase">Anna Thompson</h6>
                                <span>Happy Adventurer</span>
                            </div>
                        </li>
                        <li>
                            <p class="lead">I love the ease-of-use Gemin provides - I can quickly test different combinations and experiment with possibility to find that sweet spot. Amazing concierge support too, really quick turnaround!</p>
                            <div class="quote-author">
                                <img alt="Avatar" src="assets/img/avatar2.png" />
                                <h6 class="uppercase">Rick Dempsey</h6>
                                <span>Happy Adventurer</span>
                            </div>
                        </li>
                        <li>
                            <p class="lead">I love the ease-of-use Gemin provides - I can quickly test different combinations and experiment with possibility to find that sweet spot. Amazing concierge support too, really quick turnaround!</p>
                            <div class="quote-author">
                                <img alt="Avatar" src="assets/img/avatar3.png" />
                                <h6 class="uppercase">Gill Sans</h6>
                                <span>Happy Adventurer</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>



<script src="assets/lib/flickr.js"></script>
<script src="assets/lib/flexslider.min.js"></script> 
<script src="assets/lib/masonry.min.js"></script>
<script src="assets/lib/twitterfetcher.min.js"></script>
<script src="assets/lib/spectragram.min.js"></script>
<script src="assets/lib/ytplayer.min.js"></script>
<script src="assets/lib/countdown.min.js"></script>
<script src="assets/lib/smooth-scroll.min.js"></script>
<script src="assets/lib/parallax.js"></script> <script src="assets/lib/scripts.js"></script> 

 