<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/jquery-ui.min.js"></script> 
<script src="assets/lib/bootstrap/test/bootstrap.min.js"></script>
<script src="assets/lib/angular/ui-bootstrap-tpls.min.js"></script>

<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="assets/img/travel/225H.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="uppercase mb8"> {{ 'TELLUSWHATYOULIKE' | translate }} </h2>
                <p class="lead mb0">{{ 'LETSGETTOKNOWEACHOTHER' | translate }} </p>
            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="feature boxed bg-secondary">
            <form class="text-center form-email" data-error="There were errors, please check all required fields and try again" data-success="Thanks for taking the time to complete the planner. We'll be in touch shortly!">
                <h4 class="uppercase mt48 mt-xs-0">{{ 'COUPLEQUESTIONFIRST' | translate }} </h4>
                <p class="lead mb64 mb-xs-24">
                    {{ 'SHARELITTLEDETAIL' | translate }}
                    <br /> {{ 'SOWECANTAILOR' | translate }} 
                </p>
                <div class="overflow-hidden">
                    <hr>
                    <h6 class="uppercase">
                        1. {{ 'QUESTION1' | translate }}
                    </h6>
                    <div class="col-sm-3">
                        <p class="mb16">
                            {{ 'BACKPACKING' | translate }}
                        </p>
                        <div class="checkbox-option text-left">
                            <div class="inner"></div>
                            <input type="checkbox" name="webdesign" value="webdesign" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p class="mb16">
                            {{ 'TOURGROUP' | translate }}
                        </p>
                        <div class="checkbox-option text-left">
                            <div class="inner"></div>
                            <input type="checkbox" name="branding" value="branding" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p class="mb16">
                            {{ 'LEISURETOUR' | translate }}
                        </p>
                        <div class="checkbox-option text-left">
                            <div class="inner"></div>
                            <input type="checkbox" name="print" value="print" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p class="mb16">
                            {{ 'SUPRISEME' | translate }}
                        </p>
                        <div class="checkbox-option text-left">
                            <div class="inner"></div>
                            <input type="checkbox" name="photography" value="photography" />
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="overflow-hidden">
                    <h6 class="uppercase">
                        2.{{ 'APPROXIMATEBUDGET' | translate }} 
                    </h6>
                    <div class="col-sm-4">
                        <p>
                            < $1,000</p>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="budget" value="under4k" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p>$1,000 - $5,000</p>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="budget" value="4kup" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p>$5,000+</p>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="budget" value="10kup" />
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="overflow-hidden">
                    <h6 class="uppercase">
                        3. {{ 'PERSONALINFO' | translate }} 
                    </h6>
                    <input type="text" name="name" class="col-md-6 validate-required" placeholder="{{ 'NAME' | translate }} *" />
                    <input type="text" name="email" class="col-md-6 validate-required validate-email" placeholder="{{ 'EMAIL' | translate }}*" />
                    <input type="text" name="website" placeholder="{{ 'TEL' | translate }}" />
                    <textarea name="message" placeholder="{{ 'MESSAGE' | translate }}" rows="2"></textarea>
                    <hr>
                </div>
                <div class="overflow-hidden">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h6 class="uppercase">
                            4. {{ 'HOWDIDYOUHEAR' | translate }} 
                        </h6>
                        <div class="select-option">
                            <i class="ti-angle-down"></i>
                            <select name="referrer">
                                <option selected value="Default">{{ 'SELECT' | translate }}  </option>
                                <option value="google">Google</option>
                                <option value="website">Our Website</option>
                                <option value="Linkdin">Linkdin</option>
                                <option value="Facebook">Facebook</option>
                                <option value="Instagram">Instagram</option>
                                <option value="friend">A Friend</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <button type="submit">{{ 'MATCHCONCERIGE' | translate }} </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="assets/lib/flickr.js"></script>
<script src="assets/lib/flexslider.min.js"></script> 
<script src="assets/lib/masonry.min.js"></script>
<script src="assets/lib/twitterfetcher.min.js"></script>
<script src="assets/lib/spectragram.min.js"></script>
<script src="assets/lib/ytplayer.min.js"></script>
<script src="assets/lib/countdown.min.js"></script>
<script src="assets/lib/smooth-scroll.min.js"></script>
<script src="assets/lib/parallax.js"></script> 
<script src="assets/lib/scripts.js"></script>    
 