<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/jquery-ui.min.js"></script> 
<script src="assets/lib/bootstrap/test/bootstrap.min.js"></script>
<script src="assets/lib/angular/ui-bootstrap-tpls.min.js"></script>

<section class="cover image-bg fullscreen overlay overlay-heavy bg-dark vid-bg pt-xs-120">
    <div class="player" data-video-id="4GC0jGODGeY" data-start-at="2"></div>
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="assets/img/home15.jpg" />
    </div>
    <div class="masonry-loader">
        <div class="spinner">
        </div>
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1 class="large">{{ 'NEWYORK' | translate }} </h1>
                <h2>{{ 'NEWYORK2' | translate }}</h2>
                <p class="lead mb40 mb-xs-24">{{ 'NEWYORK3' | translate }}

                </p>
                <a class="btn btn-lg btn-white" href="#home">{{ 'STARTEXPLORING' | translate }}</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="image-edge pb0" style="padding:0">
    <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Screenshot" class="mb-xs-24" src="assets/img/travel/newyorkbridge.jpg"/>
    </div>
    <div class="container"  >
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform" style="top:57%">

            <h2  >{{ 'WALKBROOKLYN' | translate }} </h2>
            <div class="feature feature-3">
                <div class="left">
                    <i class="ti-tag icon-sm"></i>
                </div>
                <div class="right">
                    <h5 class="uppercase mb16">{{ 'WALKBROOKLYN2' | translate }} <a href="http://industry-kitchen.com/" target="_blank"> Industry Kitchen</a> or <a  href="http://www.deadrabbitnyc.com/" target="_blank">Dead Rabbit</a></h5>
                    <p>
                        {{ 'WALKBROOKLYN3' | translate }}
                    </p>
                </div>
            </div>
            <!--end of feature-->
            <div class="feature feature-3">
                <div class="left">
                    <i class="ti-ticket icon-sm"></i>
                </div>
                <div class="right">
                    <h5 class="uppercase mb16"> {{ 'SEAPORT' | translate }} </h5>
                    <p>
                        {{ 'SEAPORT2' | translate }}<a href="http://www.freshsalt.com/wp/" target="_blank">Fresh Salt</a>  {{ 'SEAPORT3' | translate }} 
                    </p>
                </div>
            </div>
            <!--end of feature-->
        </div>
    </div>
    <!--end of container-->
</section>
<section class="image-edge" style="padding:0">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="assets/img/travel/nyslide.jpg" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h2> {{ 'NEVERSLEEP' | translate }}  </h2> <div class="feature feature-3">
            <div class="left">
                <i class="ti-music-alt icon-sm"></i>
            </div>
            <div class="right">
                <h5 class="uppercase mb16">{{ 'NEVERSLEEP2' | translate }}   </h5>
                <p>
                    {{ 'NEVERSLEEP3' | translate }} <a href="http://www.villagevanguard.com/" target="_blank">Village Vanguard</a>({{ 'NEVERSLEEP4' | translate }}<a href="http://www.roxyhotelnyc.com/dining-nightlife/the-django/" target="_blank">The Django</a>{{ 'NEVERSLEEP5' | translate }}
                </p>
            </div>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>
<section class="bg-secondary" style="background:#f2f2f2">
    <div class="container"><div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h2>{{ 'JUSTFORYOU' | translate }} </h2>
            <p class="mb40 mb-xs-24">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>

        </div>
        </div>
        <div class="row mb64 mb-xs-24">
            <div class="col-sm-12 text-center spread-children-large">
                <img alt="Pic" src="assets/img/avatar1.png" />
                <img alt="Pic" src="assets/img/avatar2.png" />
                <img alt="Pic" src="assets/img/avatar3.png" />
                <img alt="Pic" src="assets/img/avatar4.png" />
                <img alt="Pic" src="assets/img/avatar5.png" />
            </div>

        </div>
        <div class="text-center">
            <a class="mb0 btn btn-lg btn-filled  " href="#">{{ 'MATCHCONCERIGE' | translate }}</a>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="image-bg overlay  ">
    <div class="background-image-holder">
        <img alt="Background" class="background-image" src="assets/img/travel/startadventure.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="mb16">{{ 'CTA' | translate }}</h2>
                <p class="lead mb64">
                    {{ 'CTA2' | translate }}
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-package icon"></i>
                        <h5 class="uppercase">{{ 'CTA3' | translate }}</h5>
                    </div>
                    <p>
                        {{ 'CTA4' | translate }} 
                    </p>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-infinite icon"></i>
                        <h5 class="uppercase">{{ 'CTA5' | translate }} </h5>
                    </div>
                    <p>
                        {{ 'CTA6' | translate }} r!
                    </p>
                </div>
                <!--end of feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 boxed">
                    <div class="text-center">
                        <i class="ti-heart icon"></i>
                        <h5 class="uppercase">{{ 'CTA7' | translate }} </h5>
                    </div>
                    <p>
                        {{ 'CTA8' | translate }}  
                    </p>
                </div>
                <!--end of feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<script src="assets/lib/flickr.js"></script>
<script src="assets/lib/flexslider.min.js"></script> 
<script src="assets/lib/masonry.min.js"></script>
<script src="assets/lib/twitterfetcher.min.js"></script>
<script src="assets/lib/spectragram.min.js"></script>
<script src="assets/lib/ytplayer.min.js"></script>
<script src="assets/lib/countdown.min.js"></script>  
<script src="assets/lib/smooth-scroll.min.js"></script>
<script src="assets/lib/parallax.js"></script>   
<script src="assets/lib/scripts.js"></script> 


         