<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/jquery-ui.min.js"></script> 
<script src="assets/lib/bootstrap/test/bootstrap.min.js"></script>
<script src="assets/lib/angular/ui-bootstrap-tpls.min.js"></script>


<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="assets/img/travel/sky.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="uppercase mb8">{{ 'CONTACTUS' | translate }}</h2>
                <p class="lead mb0">{{ 'ABOUTUS2' | translate }}.</p>
            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src=" assets/img/small2.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h4 class="uppercase">{{ 'GETINTOUCH' | translate }}</h4>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
        </p>
        <hr>
        <p>
            1111 Corporate Center Drive, 

            <br /> Monterey Park, 
            <br /> CA, USA 91754
        </p>
        <p>
            <strong>E:</strong> info@gomaygroup.com
            <br />
            <strong>P:</strong> +1-626-838-8888
            <br />
        </p>
    </div>
</section>
<section class="image-square right">
    <!--<div class="col-md-6 p0 image">
        <div class="map-holder background-image-holder">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.4086040735224!2d144.976411!3d-37.87412599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad66889faebddf1%3A0xcc68084b44a30620!2sRiva+St+Kilda!5e0!3m2!1sen!2sau!4v1427779902899"></iframe>

        </div>
    </div>-->
     <div class="col-md-12 content">
        <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
            <h6 class="uppercase text-center">{{ 'SENDAMESSAGE' | translate }}</h6>
            <input type="text" class="validate-required" name="name" placeholder="{{ 'NAME' | translate }}" />
            <input type="text" class="validate-required validate-email" name="email" placeholder="{{ 'EMAIL' | translate }}" />
            <textarea class="validate-required" name="message" rows="4" placeholder="{{ 'MESSAGE' | translate }}"></textarea>
            <button type="submit">{{ 'SEND' | translate }}</button>
        </form>
    </div> 
</section> 
<script src="assets/lib/flickr.js"></script>
<script src="assets/lib/flexslider.min.js"></script> 
<script src="assets/lib/masonry.min.js"></script>
<script src="assets/lib/twitterfetcher.min.js"></script>
<script src="assets/lib/spectragram.min.js"></script>
<script src="assets/lib/ytplayer.min.js"></script>
<script src="assets/lib/countdown.min.js"></script>
<script src="assets/lib/smooth-scroll.min.js"></script>
<script src="assets/lib/parallax.js"></script> 
<script src="assets/lib/scripts.js"></script> 
 
 