<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/jquery-ui.min.js"></script>
<script src="assets/lib/bootstrap/test/bootstrap.min.js"></script>
<script src="assets/lib/angular/ui-bootstrap-tpls.min.js"></script>

<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="assets/img/pepper/banner2.png" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb16">Pepperdine | Graziadio</h2>
                <h6 class="uppercase mb32">Media Relation</h6>
            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="padding-left: 0;">
                <h2 class="color-primary">Experts by Topic</h2>
                <hr>
                 
            </div>
        </div>
        <!--end of row--> 
        <div class='row'>
            
        <div class="row">
             <div class="col-sm-3" style="height:1000px;">
                <div id="pepperdine_news_filters_wrapper">
                    
                        <div>
                            <div class="filter_section filter_section_topics">
                                <div class="filter_bar">
                                    <span class="title">Search by Topic</span>
                                    <a   class="clear_filters">Clear All</a>
                                     
                                </div>
                                <div class="filter_content open">
                                    <div id="filter_topics" class="form-checkboxes">
                                        <div class="form-item form-type-checkbox form-item-topics-102">
                                            <input type="checkbox" id="edit-topics-102" name="topics[102]" value="102" class="form-checkbox">
                                            <label class="option" for="edit-topics-102">Business </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-109">
                                            <input type="checkbox" id="edit-topics-109" name="topics[109]" value="109" class="form-checkbox">
                                            <label class="option" for="edit-topics-109">Economics </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-108">
                                            <input type="checkbox" id="edit-topics-108" name="topics[108]" value="108" class="form-checkbox">
                                            <label class="option" for="edit-topics-108">Education </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-98">
                                            <input type="checkbox" id="edit-topics-98" name="topics[98]" value="98" class="form-checkbox">
                                            <label class="option" for="edit-topics-98">Environment </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-101 checked">
                                            <input type="checkbox" id="edit-topics-101" name="topics[101]" value="101" class="form-checkbox">
                                            <label class="option" for="edit-topics-101">International Affairs </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-100">
                                            <input type="checkbox" id="edit-topics-100" name="topics[100]" value="100" class="form-checkbox">
                                            <label class="option" for="edit-topics-100">Law </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-103">
                                            <input type="checkbox" id="edit-topics-103" name="topics[103]" value="103" class="form-checkbox">
                                            <label class="option" for="edit-topics-103">Media &amp; Communication </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-107">
                                            <input type="checkbox" id="edit-topics-107" name="topics[107]" value="107" class="form-checkbox">
                                            <label class="option" for="edit-topics-107">Military </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-110">
                                            <input type="checkbox" id="edit-topics-110" name="topics[110]" value="110" class="form-checkbox">
                                            <label class="option" for="edit-topics-110">Politics </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-97">
                                            <input type="checkbox" id="edit-topics-97" name="topics[97]" value="97" class="form-checkbox">
                                            <label class="option" for="edit-topics-97">Psychology </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-105">
                                            <input type="checkbox" id="edit-topics-105" name="topics[105]" value="105" class="form-checkbox">
                                            <label class="option" for="edit-topics-105">Religion </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-104">
                                            <input type="checkbox" id="edit-topics-104" name="topics[104]" value="104" class="form-checkbox">
                                            <label class="option" for="edit-topics-104">Science &amp; Technology </label>

                                        </div>
                                        <div class="form-item form-type-checkbox form-item-topics-106">
                                            <input type="checkbox" id="edit-topics-106" name="topics[106]" value="106" class="form-checkbox">
                                            <label class="option" for="edit-topics-106">Sports </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-item form-type-textfield form-item-faculty-name" role="application">
                                <label for="filter_faculty_name">Faculty Name&nbsp;&nbsp;&nbsp; &nbsp; </label>
                               <input placeholder="Faculty Name" type="text" id="filter_keywords" name="keywords" value="" size="60" maxlength="128" class="form-text">
                                
                                <span class="element-invisible" aria-live="assertive" id="filter_faculty_name-autocomplete-aria-live"></span></div> 
                            <div class="form-item form-type-textfield form-item-keywords">
                                <label for="filter_keywords">Keyword Search </label>
                                <input placeholder="Keyword Search" type="text" id="filter_keywords" name="keywords" value="" size="60" maxlength="128" class="form-text">
                            </div> 
                            
                        </div>
                     
                </div>
            </div>
            
            
            
            
            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/craig-detweiler-headshot_1.png">
                <h6 class="uppercase mb0 color-primary">Craig Detweiler, Ph.D.</h6>
                <span>Religion and film | Theology and pop culture | Entertainment business | New Media</span>
            </div>
            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/craig-everett-headshot.png">
                <h6 class="uppercase mb0 color-primary">Craig R. Everett, Ph.D.</h6>
                <span>Corporate finance | Small business finance | Entrepreneurial finance | Business valuation | Crowdfunding</span>
            </div>
            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/mike-shires-headshot.png">
                <h6 class="uppercase mb0 color-primary">Michael Shires, Ph.D.</h6>
                <span>State, regional and local politics | State and local finance and governance | Ethics and accountability of government officials | Higher education policy</span>
            </div>
            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/derek-muller-headshot.png">
                <h6 class="uppercase mb0 color-primary">Derek Muller, J.D.</h6>
                <span>Election law | Federal civil litigation | Legal education</span>
            </div> 
            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/colleen-graffy-headshot.png">
                <h6 class="uppercase mb0 color-primary">Colleen P. Graffy, LL.M.</h6>
                <span>U.S. foreign policy and international law | U.S. and British politics | Public diplomacy</span>
            </div>

            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/judy-ho-headshot_0.png">
                <h6 class="uppercase mb0 color-primary">Judy Ho, Ph.D., ABPP</h6>
                <span>Forensic psychology | Child psychology and parenting issues | Substance abuse and addiction | Depression, anxiety and personality disorders | Eating disorders | Neuropsychological testing</span>
            </div>

            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/greg-mcneal-headshot_0.png">
                <h6 class="uppercase mb0 color-primary">Gregory S. McNeal, Ph.D.</h6>
                <span>National security law and policy | Civilian and military drones | Cybersecurity | Prosecution of national security-related crimes</span>
            </div>

            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/Michael-Helfand_0.png">
                <h6 class="uppercase mb0 color-primary">Michael A. Helfand, Ph.D.</h6>
                <span>Religious liberty and discrimination | Intersection of religion and commerce | Religious contracts and torts | Anti-Sharia law | Arbitration law</span>
            </div>

            <div class="col-md-3 col-sm-3 mb24">
                <img alt="Pic" class="mb24" src="assets/img/pepper/bernie-james-headshot.png">
                <h6 class="uppercase mb0 color-primary">Bernard James, J.D.</h6>
                <span>Education law and policy | School safety | State constitutional law</span>
            </div>
        </div>
            
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<script src="assets/lib/flickr.js"></script>
<script src="assets/lib/flexslider.min.js"></script>
<script src="assets/lib/masonry.min.js"></script>
<script src="assets/lib/twitterfetcher.min.js"></script>
<script src="assets/lib/spectragram.min.js"></script>
<script src="assets/lib/ytplayer.min.js"></script>
<script src="assets/lib/countdown.min.js"></script>
<script src="assets/lib/smooth-scroll.min.js"></script>
<script src="assets/lib/parallax.js"></script>
<script src="assets/lib/scripts.js"></script>