<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/jquery-ui.min.js"></script>
<script src="assets/lib/bootstrap/test/bootstrap.min.js"></script>
<script src="assets/lib/angular/ui-bootstrap-tpls.min.js"></script>
<script>
 $(document).ready(function (){
            $("#click").click(function (){ 
                $('html, body').animate({
                    scrollTop: $("#representative").offset().top
                }, 500);
            });
        });
</script>
<section class="pt120 pb120 image-bg overlay">
    <div class="background-image-holder fadeIn">
        <img alt="Background" class="background-image" src="./assets/img/pepper/banner5.png" style="display: none;">
    </div>
    <div class="container">
        <div class="row v-align-children">
            <div class="col-sm-8 mb-xs-80">
                <h2 class="mb16">Pepperdine | Graziadio</h2>
                <h6 class="uppercase mb32">Media Relation</h6>
                <a class="btn  mb0" id="click" >Contact Media Relations representative </a>
            </div>
            <div class="col-sm-4 text-center text-left-xs">
                <div class="modal-container">
                    <div class="play-button btn-modal large inline" modal-link="0"></div>
                    <div class="foundry_modal no-bg"> 
                        <iframe data-provider="youtube" data-video-id="apHwFCPXoeA" data-autoplay="1"></iframe>
                    </div>

                </div>
                <!--end of modal video-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section   style="padding:15px 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">


                <div class="tabbed-content button-tabs">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <span>Media Relation</span>
                            </div>

                        </li>
                        <li class="">
                            <div class="tab-title">
                                <span>Mission & Hallmarks</span>
                            </div>

                        </li>
                        <li class="">
                            <div class="tab-title">
                                <span>Founder</span>
                            </div>

                        </li>
                        <li class="">
                            <div class="tab-title">
                                <span> Word from Alumni</span>
                            </div>

                        </li>
                    </ul>
                    <ul class="content">
                        <li class="active">
                            <div class="tab-content">


                                <div class="col-sm-9">
                                    <h3>Media inquiries welcome</h3>
                                    <p class=" lead mb40 ">
                                        The Pepperdine University Graziadio School of Business and Management provides world-class business education through part-time, full-time, and executive MBA programs in Southern California, Silicon Valley, Santa Barbara, and Dallas, as well as through online and hybrid formats. In addition, we offer a variety of Master of Science programs, a Bachelor of Science program, and Executive Education. For program details and rankings, visit <a href="http://bschool.pepperdine.edu/about/at-a-glance/" target="_blank">Graziadio-at-a-Glance. </a>
                                        <br>
                                        <br> Our community includes distinguished faculty experts, senior leadership, a robust network of students and over 45,000 alumni, and we are eager to connect you to them to help you tell your story. The list below includes some of our Faculty members and their expertise, and our full list of Faculty is available here. We offer a state-of-the-art radio and TV studio to conduct live or taped interviews and you can download logos, photos, videos, brand guidelines and quotes, from the <a>Approved Assets & Style Guide page.</a>
                                        <br>
                                        <br> If you have any media inquiries or need assistance, please contact:
                                        <br>
                                        <br>
                                        <span>Lisa Perry, <small>Director, Marketing & Communications</small><br> <a> 310-568-2314</a><br> <a>lisa.perry@pepperdine.edu</a></span>
                                    </p>
                                </div>
                                <div class="  col-sm-3">
                                    <div class="pricing-table pt-1 text-center emphasis">
                                        <h5 class="uppercase">Contact</h5>
                                        <h5>Lisa Perry</h5>
                                        <p style="margin-top:-18px; font-size:11px;">Director, Marketing & Communications</p>
                                        <p style="margin-top:-14px">310-568-2314</p>
                                        <p style="margin-top:-14px">
                                            lisa.perry@pepperdine.edu
                                        </p>
                                    </div>
                                    <!--end of pricing table-->
                                </div>

                                <!--end of row-->



                            </div>
                        </li>
                        <li class="">
                            <div class="tab-content">
                                <div class="  col-sm-12 text-center">
                                    <h3>Our Missions</h3>
                                    <h5 style="text-align:left;">Develop values-centered leaders that advance responsible business practice through education that is entrepreneurial in spirit, ethical in focus and global in orientation.</h5>
                                    <br>
                                    <br>
                                    <h3>Our Hallmarks</h3>
                                    <h5>values-centered, entrepreneurial, collaborative, experience-driven, global.</h5>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="tab-content">
                                <div class="col-sm-9">
                                    <h3>Founder </h3>
                                    <p class=" lead mb40 ">
                                        When you enroll at the Graziadio School, you are joining an institution with a great entrepreneurial heritage informed by the spirit of two highly successful business leaders - founder George Pepperdine and benefactor George L. Graziadio, Jr.
                                        <br>
                                        <br> The Pepperdine business school was founded in 1969 by faculty members who were committed to improving the practice of business. They, too, were pioneers who were among the first to address the education needs of working professionals, designing programs that emphasized the application of theory and experiential learning in small class settings to enhance the significant work experience of adult learners. Pepperdine developed full-service campuses in West Los Angeles, Encino, and Irvine to make Pepperdine's business programs accessible for working professionals.
                                        <br>
                                        <br>

                                    </p>
                                </div>
                                <div class="  col-sm-3">
                                    <img src="assets/img/pepper/george-graziadio.jpg">
                                </div>


                                <!--
                                <div class="row v-align-children">
                                    <div class="col-sm-6 col-md-7 mb-xs-24">
                                        <h3 class="uppercase color-primary"> “Success is never done alone.”</h3>
                                        <h5 class="uppercase">– George L. Graziadio</h5>
                                    </div>
                                    <div class="col-md-5   col-sm-6 text-center">
                                        <img src="assets/img/pepper/george-graziadio.jpg">
                                    </div>
                                </div>
-->
                            </div>
                        </li>
                        <li class="">
                            <div class="tab-content">
                                <div class="row v-align-children">
                                    <div class="col-sm-5 text-center mb-xs-24">
                                        <img src="assets/img/pepper/robert.jpg">
                                    </div>
                                    <div class="col-sm-6 col-md-7  ">
                                        <h4 class=" quote color-primary">“Pepperdine provided the knowledge and training necessary to become a lifelong leader.”</h4>
                                        <h5 class="uppercase">- Robert B. Neller </h5>
                                        <p class="mb0">
                                            General, United States Marine Corps and 37th Commandant of the Marine Corps, MA, Human Resource Management, ‘81
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of button tabs-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section id="representative" class="bg-third">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-sm-12 text-center">
                <h3>Meet our Media Relations representative </h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row mb6 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 p0 newsWrap">
                <div class="col-sm-3 text-center mb40 mb-xs-24">
                    <img alt="Pic" src="./assets/img/pepper/tom-inkel-headshot_0.jpg">
                    <h5 class="mb0">School of Law</h5>
                    <h6 class="uppercase mb0">Thomas Inkel</h6>
                    <p>Director of Communications
                        <br> <a>(310) 506-7027 </a>
                        <br> <a>thomas.inkel@pepperdine.edu</a></p>
                </div>
                <div class="col-sm-3 text-center mb40 mb-xs-24">
                    <img alt="Pic" src="./assets/img/pepper/christina-ramirez-headshot_0.jpg">
                    <h5 class="mb0">School of Public Policy</h5>
                    <h6 class="uppercase mb0">Christina Ramirez</h6>
                    <p>Director of Communications
                        <br> <a>(310) 506-7497  </a>
                        <br> <a> christina.ramirez@pepperdine.edu</a>
                    </p>
                </div>
                <div class="col-sm-3 text-center mb40 mb-xs-24">
                    <img alt="Pic" src="./assets/img/pepper/lisa.png">
                    <h5 class="mb0">Graziadio School of Business and Management</h5>
                    <h6 class="uppercase mb0">Lisa Perry</h6>
                    <p>Director, Marketing and Communications
                        <br> <a>(310) 568-2314 </a>
                        <br> <a>lisa.perry@pepperdine.edu</a>
                    </p>
                </div>
                <div class="col-sm-3 text-center mb40 mb-xs-24">
                    <img alt="Pic" src="./assets/img/pepper/leslie-owens-150-160.jpg">
                    <h5 class="mb0">Graduate School of Education and Pyschology
</h5>
                    <h6 class="uppercase mb0">Leslie Owens</h6>
                    <p>Marketing Director
                        <br> <a>(310) 568-5628  </a>
                        <br> <a>Leslie.Owens@pepperdine.edu</a></p>
                </div>
            </div>
        </div>
        <!--end of row-->
        <hr style='margin-bottom:50px'>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <h3>Interested in speaking with Faculty Experts?</h3>
                <p class="mb40 mb-xs-24">
                    Click the button below to see some of Pepperdine University's most sought-after faculty experts. To speak with a faculty member who specializes in an area not listed, please contact a member of our <a href='http://newsroom.pepperdine.edu/contact' target="_blank">public relations team <i class="ti-new-window"></i></a>
                </p>
                <a class="btn btn-lg btn-filled" href="#faculty">See Faculty Experts</a>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>

<!--
<section class="   ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center founderQuoteWrap">
                <h4 class="   mb6 quote">“SUCCESS IS NEVER DONE ALONE.”</h4>
                <h5>– GEORGE L. GRAZIADIO</h5>
            </div>
        </div> 
    </div> 
</section>
-->

<section class="image-bg bg-dark parallax overlay pt160 pb160 pt-xs-40 pb-xs-40">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="assets/img/pepper/banner.jpeg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">“SUCCESS IS NEVER DONE ALONE.”</h2>
                <p class="text-center">– GEORGE L. GRAZIADIO</p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-third">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h3 class="">News Releases</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4">
                <a href="http://newsroom.pepperdine.edu/university/2016/07/graduate-school-education-and-psychology-host-better-together-california-teachers" target="_blank">
                    <img alt="news" class=" " src="./assets/img/pepper/news1.png">
                </a>
                <a href="http://newsroom.pepperdine.edu/university/2016/07/graduate-school-education-and-psychology-host-better-together-california-teachers" target="_blank">
                    <h4 class="mb8 color-primary">Graduate School of Education and Psychology to Host Better Together: California Teachers Summit 2016</h4>
                </a>
                <ul class="list-inline mb16">
                    <li>July 20, 2016</li>
                    <li>
                        <a >Robin S. Lu</a>
                    </li>
                    <li>
                        <a >
                            <span class="label">Education</span>
                        </a>
                    </li>
                </ul>
                <p class="mb24">
                    GSEP will host the second annual Better Together: California Teachers Summit on July 29.
                </p>
            </div>
            <div class="col-sm-4">
                <a href="http://newsroom.pepperdine.edu/university/2016/07/graziadio-school-business-and-management-host-summer-2016-commencement" target="_blank">
                    <img alt="news" class=" " src="./assets/img/pepper/news2.jpeg">
                </a>
                <a href="http://newsroom.pepperdine.edu/university/2016/07/graziadio-school-business-and-management-host-summer-2016-commencement" target="_blank">
                    <h4 class="mb8 color-primary">Graziadio School of Business and Management to Host Summer 2016 Commencement</h4>
                </a>
                <ul class="list-inline mb16">
                    <li>July 15, 2016</li>
                    <li>
                        <a >Robin S. Lu</a>
                    </li>
                    <li>
                        <a >
                            <span class="label">Business | Education</span>
                        </a>
                    </li>
                </ul>
                <p class="mb0">
                    The Pepperdine University GSBM summer 2016 commencement ceremony will be held on August 6.
                </p>
            </div>
            <div class="col-sm-4">
                <a href="http://newsroom.pepperdine.edu/university/2016/07/artist-david-leffel-hosts-tour-and-demonstration-weisman-museum" target="_blank">
                    <img alt="news" class=" " src="./assets/img/pepper/news3.jpg">
                </a>
                <a href="http://newsroom.pepperdine.edu/university/2016/07/artist-david-leffel-hosts-tour-and-demonstration-weisman-museum">
                    <h4 class="mb8 color-primary">Artist David A. Leffel Hosts Tour and Demonstration at Weisman Museum</h4>
                </a>
                <ul class="list-inline mb16">
                    <li>September 18, 2011</li>
                    <li>
                        <a >Robin Lu</a>
                    </li>
                    <li>
                        <a >
                            <span class="label">Arts & Culture</span>
                        </a>
                    </li>
                </ul>
                <p class=" ">
                    David A. Leffel will host a private tour and art demonstration at Pepperdine University.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <!--
            </section> 
<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="assets/img/vent2.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h3 class="uppercase">{{ 'BOOKYOURNEXTADVENTURE' | translate }} 
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            <br /> do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul class="bullets mb40 mb-xs-24">
            <li>{{ 'CUSTOMIZETOUR' | translate }} </li>
            <li>{{ 'NOPURCHASINGREQUIRE' | translate }}</li>
            <li>{{ 'ONEONONEMENTOR' | translate }}</li>
        </ul>
        <a class="btn btn-lg bg-dark mb0" href="#concierge">{{ 'BOOKNOW' | translate }}</a>
    </div>
</section>
-->

    <!--for ui-router <div class="main-container">
<div ui-view></div>
</div>-->
    <script src="assets/lib/flickr.js"></script>
    <script src="assets/lib/flexslider.min.js"></script>
    <script src="assets/lib/masonry.min.js"></script>
    <script src="assets/lib/twitterfetcher.min.js"></script>
    <script src="assets/lib/spectragram.min.js"></script>
    <script src="assets/lib/ytplayer.min.js"></script>
    <script src="assets/lib/countdown.min.js"></script>
    <script src="assets/lib/smooth-scroll.min.js"></script>
    <script src="assets/lib/parallax.js"></script>
    <script src="assets/lib/scripts.js"></script>