<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GEMIN || Travel Concierge</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../assets/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../assets/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../assets/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../assets/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

    <script src="../../assets/lib/jquery.min.js"></script>
    <script src="../../assets/lib/jquery-ui.min.js"></script>
    <script src="../../assets/lib/angular/angular.min.js"></script>
    <script src="../../assets/lib/bootstrap/test/bootstrap.min.js"></script>
    <script src="../../assets/lib/angular/ui-bootstrap-tpls.min.js"></script>
</head>

<body ng-app="travelAgency">
    <div class="nav-container">
        <a id="top"></a>
        <nav>

            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <img class="logo logo-light" alt="Tixy" src="../../assets/img/logo-light.png" />
                        <img class="logo logo-dark" alt="Tixy" src="../../assets/img/logo-dark.png" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="/">
                                        {{ 'HOME' | translate }}
                                    </a>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                        {{ 'DESTINATION' | translate }}
                                    </a>
                                <ul class="mega-menu">
                                    <li>
                                        <ul>
                                            <li>
                                                <span class="title">{{ 'UNITEDSTATES' | translate }}</span>
                                            </li>
                                            <li>
                                                <a href="/app/views/newyork.html">{{ 'NEWYORK' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-about-us-2.html">{{ 'LOSANGELES' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-about-us-3.html">{{ 'LASVEGAS' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-services-1.html">{{ 'SANDIEGO' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-services-2.html">{{ 'ALASKA' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-services-3.html">{{ 'HAWAII' | translate }}</a>
                                                <span class="label">New!</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <span class="title">{{ 'SOUTHAMERICA' | translate }}</span>
                                            </li>
                                            <li>
                                                <a href="page-login.html">{{ 'BRAZIL' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-register.html">{{ 'ARGENTINA' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-coming-soon.html"> {{ 'PERU' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-faq.html">{{ 'CHILE' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-confirmation.html">{{ 'COLOMBIA' | translate }}</a>
                                            </li>
                                            <li>
                                                <a href="page-countdown.html">{{ 'BOLIVIA' | translate }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/app/views/concierge.html">
                                        {{ 'CONCIERGE' | translate }}
                                    </a>
                            </li>
                            <li>
                                <a href="/app/views/about.html">
                                        {{ 'ABOUTUS' | translate }}
                                    </a>
                            </li>
                            <li>
                                <a href="/app/views/contact.html"> 
                                        {{ 'CONTACTUS' | translate }}
                                    </a>
                            </li>
                            <li class=" " ng-controller="translateCtrl as translateCtrl">
                                <a href="#">
                                    <span ng-click="changeLanguage('en')">English</span>/
                                    <span ng-click="changeLanguage('cn')">简体中文</span>/
                                    <span ng-click="changeLanguage('cn')">繁体中文</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end of menu module-->


                </div>
            </div>



 
    <!--end of module group-->
 
    </nav>
    </div>
    <div class="main-container">
        <section class="page-title page-title-2 image-bg overlay parallax">
            <div class="background-image-holder">
                <img alt="Background Image" class="background-image" src="../../assets/img/travel/225H.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="uppercase mb8"> {{ 'TELLUSWHATYOULIKE' | translate }} </h2>
                        <p class="lead mb0">{{ 'LETSGETTOKNOWEACHOTHER' | translate }} </p>
                    </div>
                     
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="feature boxed bg-secondary">
                    <form class="text-center form-email" data-error="There were errors, please check all required fields and try again" data-success="Thanks for taking the time to complete the planner. We'll be in touch shortly!">
                        <h4 class="uppercase mt48 mt-xs-0">{{ 'COUPLEQUESTIONFIRST' | translate }} </h4>
                        <p class="lead mb64 mb-xs-24">
                            {{ 'SHARELITTLEDETAIL' | translate }}
                            <br /> {{ 'SOWECANTAILOR' | translate }} 
                        </p>
                        <div class="overflow-hidden">
                            <hr>
                            <h6 class="uppercase">
                            1. {{ 'QUESTION1' | translate }}
                        </h6>
                            <div class="col-sm-3">
                                <p class="mb16">
                                    {{ 'BACKPACKING' | translate }}
                                </p>
                                <div class="checkbox-option text-left">
                                    <div class="inner"></div>
                                    <input type="checkbox" name="webdesign" value="webdesign" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p class="mb16">
                                   {{ 'TOURGROUP' | translate }}
                                </p>
                                <div class="checkbox-option text-left">
                                    <div class="inner"></div>
                                    <input type="checkbox" name="branding" value="branding" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p class="mb16">
                                     {{ 'LEISURETOUR' | translate }}
                                </p>
                                <div class="checkbox-option text-left">
                                    <div class="inner"></div>
                                    <input type="checkbox" name="print" value="print" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p class="mb16">
                                    {{ 'SUPRISEME' | translate }}
                                </p>
                                <div class="checkbox-option text-left">
                                    <div class="inner"></div>
                                    <input type="checkbox" name="photography" value="photography" />
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="uppercase">
                            2.{{ 'APPROXIMATEBUDGET' | translate }} 
                        </h6>
                            <div class="col-sm-4">
                                <p>
                                    < $1,000</p>
                                        <div class="radio-option">
                                            <div class="inner"></div>
                                            <input type="radio" name="budget" value="under4k" />
                                        </div>
                            </div>
                            <div class="col-sm-4">
                                <p>$1,000 - $5,000</p>
                                <div class="radio-option">
                                    <div class="inner"></div>
                                    <input type="radio" name="budget" value="4kup" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <p>$5,000+</p>
                                <div class="radio-option">
                                    <div class="inner"></div>
                                    <input type="radio" name="budget" value="10kup" />
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="uppercase">
                            3. {{ 'PERSONALINFO' | translate }} 
                        </h6>
                            <input type="text" name="name" class="col-md-6 validate-required" placeholder="{{ 'NAME' | translate }} *" />
                            <input type="text" name="email" class="col-md-6 validate-required validate-email" placeholder="{{ 'EMAIL' | translate }}*" />
                            <input type="text" name="website" placeholder="{{ 'TEL' | translate }}" />
                            <textarea name="message" placeholder="{{ 'MESSAGE' | translate }}" rows="2"></textarea>
                            <hr>
                        </div>
                        <div class="overflow-hidden">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h6 class="uppercase">
                                4. {{ 'HOWDIDYOUHEAR' | translate }} 
                            </h6>
                                <div class="select-option">
                                    <i class="ti-angle-down"></i>
                                    <select name="referrer">
                                        <option selected value="Default">{{ 'SELECT' | translate }}  </option>
                                        <option value="google">Google</option>
                                        <option value="website">Our Website</option>
                                        <option value="Linkdin">Linkdin</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="Instagram">Instagram</option>
                                        <option value="friend">A Friend</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <button type="submit">{{ 'MATCHCONCERIGE' | translate }} </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer class="footer-1 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <img alt="Logo" class="logo" src="../../assets/img/logo-light.png" />
                    </div>



                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="sub">&copy; Copyright 2016 - GEMIN</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="list-inline social-list">
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-vimeo-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of container-->
            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        </footer>
    </div>
    <script src="../../assets/lib/jquery.min.js"></script>
    <script src="../../assets/lib/bootstrap.min.js"></script>
    <script src="../../assets/lib/flickr.js"></script>
    <script src="../../assets/lib/flexslider.min.js"></script>
    <script src="../../assets/lib/lightbox.min.js"></script>
    <script src="../../assets/lib/masonry.min.js"></script>
    <script src="../../assets/lib/twitterfetcher.min.js"></script>
    <script src="../../assets/lib/spectragram.min.js"></script>
    <script src="../../assets/lib/ytplayer.min.js"></script>
    <script src="../../assets/lib/countdown.min.js"></script>
    <script src="../../assets/lib/smooth-scroll.min.js"></script>
    <script src="../../assets/lib/parallax.js"></script>
    <script src="../../assets/lib/scripts.js"></script>


    <script src="../../assets/lib/angular/angular-animate.min.js"></script>
    <script src="../../assets/lib/angular/angular-cookies.min.js"></script>
    <script src="../../assets/lib/angular/angular-resource.min.js"></script>
    <script src="../../assets/lib/angular/angular-ui-router.min.js"></script>
    <script src="../../assets/lib/angular/textAngular-sanitize.min.js"></script>
    <script src="../../assets/lib/angular/angular-translate.min.js"></script>
    <script src="../../assets/lib/angular/angular-translate-storage-cookie.min.js"></script>
    <script src="../../assets/lib/angular/angular-translate-storage-local.min.js"></script>
    <script src="../../assets/lib/angular/ocLazyLoad.min.js"></script>

    <script src="../../app/app.js"></script>
    <script src="../../app/config.js"></script>
    <script src="../../app/controllers/main.controller.js"></script>
    <script src="../../app/directives/directives.js"></script>
    <script src="../../app/translations.js"></script>
</body>

</html>